body {
  background-color:#d1dcec;
}
video {
  height: 100%;
  width: 100%;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 3px solid black;
  text-align: center;
  width: 40%;
  height: 50px;
  padding-top: 15px;
  margin: 0 auto;
  margin-bottom: 1px;
}
nav {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  border: none;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #016396;
  border-radius: 7px;
  padding-top: 70px;
  margin: 1px;
}
nav a {
  border: 2px black solid;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
}
p {
  font-family: "rubik";
}