* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #d1dcec;
}
.home .navbar {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 128, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 40px;
  z-index: 10000;
  padding-top: 40px;
}
.navbar {
  width: 100%;
  height: 100px;
  background: #5365a2;
  text-align: center;
  padding-top: 40px;
  padding-top: 40px;
  padding-left: 150px;
}
.navbar {
  animation: navb;
  animation-duration: 1.4s;
  animation-delay: 0ms;
  animation-timing-function: ease-out;
}
@keyframes navb {
  from{transform:translateY(-100px); }
  to{margin-top: 0;}
}
#screen {
  width: 100%;
  z-index: -10;
  position: fixed;
  left: 0;
  top: 0;
}
#logo { /*replace with logo*/
  position: fixed;
  background-color: none;
  position: absolute;
  border: none;
  color: red;
  left: 200px;
  width: 80px;
  height: 53px;
  top: 20px;
  border: 2px white dotted;
  padding: 7px;
  animation: logoo;
  animation-duration: 3s;
  animation-delay: 1.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes logoo{
  50%{transform: scale(0.5, 0.5);}
  50%{opacity: 0;}
}
.navbar a{
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: larger;
  font-weight: 700;
  border-right: solid white 4px;
  padding-right: 20px;
}
.navbar a:hover{
  color: grey;
}
.navbar .active {
  color: red;
}
.navbar #lastone {
  border: none;
}
.icon {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.icon i:hover {
  color: red;
}
.icon i {
  color: white;
  position: relative;
  right: 50px;
  top: 15px;
  margin-right: 5px;
}
.icon p {
  color: white;
  margin-right: 900px;
  top: 10px;
  position: relative;
}
/*About*/
#header {
  font-style: italic;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  border: 2px solid black;
  width: 400px;
  margin-left: 30%;
  margin-top: 10px;
}
.container {
  background: #292d42;
  position: relative;
  height: 570px;
  top: 0;
  margin-top: 10px;
}
.container img {
  position: absolute;
  left: 10px;
  margin-top: 10px;
}
.container p {
  position: absolute;
  top: 60px;
  width: 650px;
  left: 80px;
  font-size: xx-large;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container ul {
  position: relative;
  left: 900px;
  top: 10px;
  width: 200px;
  padding-left: 40px;
  border: 2px white solid;
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
  opacity: 0.8;
}
.list li {
  border: 2px solid;
  margin-top: 5px;
  list-style: none;
  text-align: center;
  width: 110px;
  height: 40px;
  margin-bottom: 5px;
  padding-top: 7px;
  font-family:'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 700;
  color: white;
  background-color: black;
}
.list li a:hover {
  color: black;
}
.list li:hover {
  background-color: white;
  border: 2px solid black;
}
.container .pictures {
  left: 1080px;
  top: 0px;
}
.list a {
  text-decoration: none;
  color: white;
}
.pictures {
  border: 2px solid white;
  background-color: black;
  height: 30px;
  width: 180px;
  position: sticky;
  text-align: center;
  padding-top: 4px;
  margin-top: 15px;
}
.pictures a {
  color: white;
  text-decoration: none;
}
.pictures:hover {
  background-color: white;
  border: 2px solid black;
}
.pictures a:hover {
  color: black;
  font-weight: 500;
}
.intro {
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.kardozar {
  background-color: #485485;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-left: 160px;
}
.kardozar p {
  position: relative;
  bottom: 30px;
  left: 0px;
  display: inline-block ;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 346px;
  padding-top: 20px;
}
.intro h2 {
  border: 2px solid #d1dcec;
  width: 180px;
  text-align: center;
  height: 40px;
  padding-top: 5px;
  background-color: black;
  color: white;
  margin-top: 0px;
  margin-bottom: 4px;
}
.yazz {
  background-color: #5365a2;
  display: inline-block;
  padding-right: 20px;
  margin-left: 160px;
}
.yazz p {
  position: relative;
  bottom: 41px;
  left: 0px;
  display: inline-block ;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 330px;
  padding-top: 20px;
}
.blackface {
  background-color: #5e75b2;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 3px;
  margin-left: 160px;
  height: 420px;
}
.blackface p {
  position: relative;
  bottom: 130px;
  left: 0px;
  display: inline-block ;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 335px;
  padding-top: 20px;
}
.kangethe {
  background-color: #718cc0;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-left: 160px;
}
.kangethe p {
  position: relative;
  bottom: 30px;
  left: 0px;
  display: inline-block ;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 346px;
  padding-top: 20px;
}
.kaboi {
  background-color: #8ca8ce;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 3px;
  margin-left: 160px;
  height: 420px;
}
.kaboi p {
  position: relative;
  bottom: 130px;
  left: 0px;
  display: inline-block ;
  width: 370px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 318px;
  margin-top: 130px;
}
.kaboi .imagekab {
  margin-bottom: 52px;
}
.miraj {
  background-color: #b0c4de;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 3px;
  margin-left: 160px;
  height: 420px;
}
.miraj p {
  position: relative;
  bottom: 130px;
  left: 0px;
  display: inline-block ;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 335px;
  padding-top: 20px;
}
.winsky {
  background-color: #8ca8ce;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 3px;
  margin-left: 160px;
  height: 420px;
}
.winsky p {
  position: relative;
  bottom: 104px;
  left: 0px;
  display: inline-block ;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 0px;
  height: 337px;
  padding-top: 20px;
  margin-bottom: 0px;
}
/*CONTACT*/
.contact {
  background: linear-gradient( #b0e0e6 , #0f52ba);
}
table a:hover {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  justify-content: center;
  background-color: black;
  display: flex;
  gap: 10px;
  color: white;
}
.footer strong {
  text-align: center;
}
.footer #fon:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
  font-weight: 800;
}
.footer #mail:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
  font-weight: 800;
}
.footer #tik:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
  font-weight: 800;
}
.footer #ig:hover {
  background-color: white;
  color: black;
  border: 2px black solid;
  font-weight: 800;
}
.footer #phone {
  text-align: center;
  margin-top: 10px;
}
.footer #fon {
  color: white;
  font-weight: 800;
  text-decoration: none;
  height: 25px;
  padding-top: 2px;
  width: 100px;
  text-align: center;
  margin-top: 8px;
  border: white solid;
}
.footer #email {
  text-align: center;
  margin-top: 30px;
}
.footer #mail {
  color: white;
  font-weight: 800;
  text-decoration: none;
  height: 25px;
  padding-top: 1px;
  width: 200px;
  text-align: center;
  margin-top: 28px;
  border: white solid;
}
.footer #tiktok {
  text-align: center;
  margin-top: 50px;
}
.footer #tik {
  color: white;
  font-weight: 800;
  text-decoration: none;
  height: 25px;
  padding-top: 1px;
  width: 120px;
  text-align: center;
  margin-top: 48px;
  border: white solid;
}
.footer #instagram {
  text-align: center;
  margin-top: 70px;
}
.footer #ig {
  color: white;
  font-weight: 800;
  text-decoration: none;
  height: 25px;
  padding-top: 1px;
  width: 120px;
  text-align: center;
  margin-top: 68px;
  border: white solid;
}
table {
  background: linear-gradient(to top, #0054b4 ,#40e0d0);
  color: black;
  text-decoration: none;
  border: solid black 4px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 150px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
table a {
  text-decoration: none;
  color: black;
}
table td {
  padding-left: 5px;
  padding-right: 5px;
}
/*Booking*/
.thank {
  text-align: center;
  background:linear-gradient( #b0e0e6 , #0f52ba);
  font-family:'Courier New', Courier, monospace;
  max-width: 900px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  font-weight: 700;
}
.thank h3 {
  text-decoration: underline;
  text-decoration-color: black;
  margin-bottom: 5px;
  margin-top: 2px;
}
.form {
  border: black solid 3px;
  background-color: #E3EDDA;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: start;
  grid-template-areas:
   "head head"
   "clien clien"
   "book date"
   "book location"
   "budget dancers"
   "extra extra"
   "now now";
}
.form div {
  padding: 20px;
  /* border: 2px solid black; */
}
.form input:hover{
  background-color: #fffafa;
}
.form input:checked{
  color: red;
}
.heading {
  grid-area: head;
  background-color: #32CD32;
  min-height: 70px;
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
  color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}
.client {
  grid-area: clien;
  display: grid;
  gap: 4px;
  color: #184F1A;
  font-weight: 700;
}
.client input {
  min-height: 40px;
  border: 2px solid black;
  padding-left: 5px;
}
.purpose{
  grid-area: book;
}
.purpose p {
  margin-bottom: 7px;
  color: #184F1A;
  font-weight: 700;
}
.purpose section {
  border: 2px solid black;
  padding: 10px;
  background-color: white;
  color: #184F1A;
  font-weight: 700;
}
.date {
  grid-area: date;
  display: grid;
  max-height: 90px;
}
.date label {
  color: #184F1A;
  font-weight: 700;
  margin-bottom: 5px;
}
.date input {
  border: 2px solid black;
  padding-left: 5px;
  min-height: 30px;
}
.location {
  grid-area: location;
  display: grid;
  max-height: 86px;
  align-content: end;
}
.location label {
  color: #184F1A;
  font-weight: 700;
  margin-bottom: 5px;
}
.location input {
  border: 2px solid black;
  min-height: 30px;
  color: black;
  padding: 5px;
}
.budget {
  grid-area: budget;
  display: grid;
}
.budget label {
  color: #184F1A;
  font-weight: 700;
  margin-bottom: 5px;
}
.budget input {
  border: 2px solid black;
  min-height: 30px;
  padding-left: 5px;
}
.madancer {
  grid-area: dancers;
  display:  grid;
}
.madancer label {
  color: #184F1A;
  font-weight: 700;
  margin-bottom: 5px;
}
.madancer select {
  border: 2px solid black;
  min-height: 30px;
  padding-left: 5px;
}
.extra {
  grid-area: extra;
  display: grid;
}
.extra label {
  color: #184F1A;
  font-weight: 700;
  margin-bottom: 5px;
}
.extra textarea {
  border: 2px solid black;
  padding-left: 5px;
}
.submit {
  grid-area: now;
}
/* .form div {
    border: 2px solid black;
} */
.book {
    max-width: 100px;
    min-width: 100px;
}